@import './variables';
@import './gradient_variables';
@import './config';
@import './utilities';
@import './media-queries';

// Body background and general styles

body{
    background-image: $primary-gradient;
    background-attachment: fixed;
    font-family: $font-primary;
    color: $text-color;
    word-spacing: 5px;
}

// Sticky Navbar

header{
    position: sticky;
    top: 0;
}

// Navbar

nav {
    
    width: 100%; 
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    background-color: rgba($secondary-color-rgb, 0.2);

    .brand{
        font-family: $font-logo;
        font-size: 1.6rem;
    }

    ul {
        height: 100%;
        font-size: 0.9rem;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        
        margin-right: 30rem;
        margin-bottom: 0rem;

        li{
            font: $font-primary;
            word-spacing: 5px;
            a{
                height: 100%;
                padding: 1.5rem 1.5rem;
                margin-right: 0rem;
                color: $text-color;
                text-transform: uppercase;

                &.active{
                    background-color: rgba($secondary-color-rgb, 0.7);
                }
            }

            a:hover{
                color: $text-color;
                background-color: rgba($secondary-color-rgb, 0.4);
            }

           
        }

    }
}

// Hero section

.hero {
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    #{&}-content{
        
        text-align: center;
        
    }

    span {
        color: $accent-color;
        font-weight: 600;
    }
   
}

.section-title-text{

    border-bottom: 4px solid $accent-color;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    #{&}-card{
        min-height: 200px;
        max-height: auto;
        max-width: 200px;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.5rem;
        
    
        i {
            font-size: 4.5rem;
            padding-top: 3rem;
        }
    
        p{
            padding: 2rem;
            padding-bottom: 3rem;
            font-size: 1.5rem;
        }
        
    
    }

}

